- content_tag :tr, payment do
  %td= link_to h(payment.description), payment
  %td=h payment.created_at.to_s(:long)
  %td=h formatted_amount(payment)
  %td
    - if payment.complete?
      Complete, authorisation code #{payment.sage_pay_transaction.transaction_code}
    - elsif payment.in_progress?
      In progress
    - else
      - if payment.failed?
        Failed!
      = link_to 'Make payment', payment_sage_pay_transaction_path(payment), :method => :post
