%h1 Welcome

%p
  The purpose of this application is to test out the integration with the
  SagePay API of our sage_pay gem. It is in no way affiliated with Sage, it
  doesn't have their blessing and it certainly hasn't been funded by them
  (though that would be nice!).

%p
  As functionality is incorporated to the app, it will be linked to, where
  possible, from here. So far, there is:

%ul
  %li= link_to "Currency management", currencies_path
