%table
  %thead
    %tr
      %th Our txid
      %th Sage txid
      %th status
      %th Transaction type
      %th Authorisation code
      %th Card type
      %th Last 4 Digits
  %tbody
    = yield
