!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title
      SagePay Rails example app
    = stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes'
  %body
    = yield
